.title{
    width:100%;
}
.footer{
    position:fixed;
    background-color:lightgreen;
    width:100%;
    bottom:0;
    line-height:3;
    text-align:center;
}
canvas{
    border:5px;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}